@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;

}

body {
  font-family: 'Montserrat', sans-serif;
  background: #E5E5E5;
}

header {
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
}

.container {
  max-width: 1440px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.logo {
  display: flex;
  height: 80px;
  width: 90px;
  align-items: center;
  justify-content: center;
}

header nav ul {
  display: flex;
  border-right: solid #F4F4F4 1px;
  border-left: solid #F4F4F4 1px;
}

header nav ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 90px;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.search {
  height: 80px;
  width: 367px;
  display: flex;
  align-items: center;
  border-right: solid #F4F4F4 1px;
}

.search span {
  color: #0275B1;
  font-size: 20px;
  margin-left: 30px;
}

.search input {
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  font-size: 16px;
}

.search input, .search input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.orange-circle-message {
  position: absolute;
  display: flex;
  width: 16px;
  height: 16px;
  top: 12px;
  margin-right: 27px;
  align-self: flex-end;
  cursor: pointer;
}

.orange-circle-message > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.profile {
  width: 330px;
  height: 80px;
  display: flex;
  /* align-items: center; */
  border-right: solid #F4F4F4 1px;
}

.profile > a > img {
  width: 42px;
  height: 42px;
  margin: 18px 15px 20px 30px;
}

.name {
  display: flex;
}

.name p {
  text-transform: uppercase;
}

.name p:last-child {
  color: #181818;
  opacity: 0.2;
}

.name p:first-child {
  margin-right: 10px;
}

.views {
  display: flex;
  margin-top: 11px;
  height: 10px;
}

.views img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.views p:nth-child(2) {
  color: #02B033;
  font-weight: bold;
}

.views p:first-child {
  margin-right: 4px;
}

.profile > div {
  display: flex;
  height: 80px;
  flex-direction: column;
  font-size: 12px;
  margin-top: 24px;
}

.other {
  width: 90px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid #F4F4F4 1px;
  cursor: pointer;
}

.other p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

main {
  max-width: 850px;
}

.education {
  width: 850px;
  height: 195px;
  background: #FFFFFF;
  margin-top: 20px;
  border-radius: 4px;
}

.education h2 {
  font-size: 18px;
  margin: 0 0 30px 30px;
  padding-top: 30px;
}

.education > div {
  display: flex;
  margin-left: 30px;
}

.education > div > img {
  width: 54px;
  height: 54px;
}

.education-text {
  margin-left: 16px;
}

.education-text h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.education-text p {
  font-size: 10px;
}

.education-text p:last-child {
  margin-top: 10px;
}

aside {
  margin-left: 40px;
  margin-top: 40px;
}

.data {
  width: 290px;
  height: 330px;
  background: #FFFFFF;
  padding: 25px 0 0 30px;
  border-radius: 4px;
}

.data > div, .visitors-title {
  display: flex;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 11px;
}

.data a, .visitors a {
  color: #0275B1;
  margin-left: 25px;
  font-weight: bold;
}

.data > h2 {
  color: #0275B1;
  font-size: 52px;
  cursor: pointer;
}

.data > p {
  font-size: 14px;
}

.visitors {
  width: 290px;
  height: 420px;
  background: #FFFFFF;
  margin-top: 20px;
  border-radius: 4px;
  padding: 25px 0 0 30px;
}

.visitors-title {
  width: 230px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.visitors-cards {
  width: 230px;
  flex-direction: column;
}

.visitor {
  display: flex;
  cursor: pointer;
  margin-top: 15px;
}

.visitor > div {
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visitor > div > p {
  margin-left: 15px;
}

.visitor > div > p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.visitor > div > p:last-child {
  font-size: 10px;
}

.courses {
  width: 290px;
  height: 330px;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 20px 0 10px 0;
  padding: 25px 0 0 30px;
}

.courses > h2 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 40px;

}

.video {
  display: flex;
  width: 230px;
  margin-bottom: 30px;
  cursor: pointer;
}

.video > div {
  margin-left: 15px;
}

.video > div > h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

.video > div > p {
  font-size: 10px;
}

footer {
  height: 215px;
  width: 100%;
  display: flex;
  background: linear-gradient(180deg, rgba(241, 244, 248, 0.8) 0%, rgba(241, 244, 248, 0) 100%);
  justify-content: space-between;
  margin-top: 20px;
}

footer > .container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}

footer img {
  align-self: flex-start;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  height: 80px;
}

footer h3 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
}

footer nav ul li a {
  font-size: 12px;
  color: black ;
}

.fast-access {
  display: flex;
  flex-direction: column;
}

footer nav {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

footer  nav:nth-child(3), footer nav:nth-child(4) {
  justify-content: flex-end;
}

.fast-access button {
  border-radius: 4px;
  font-family: 'Montserrat';
  width: 170px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  cursor: pointer;
}

.fast-access button:hover {
  background-color: #0275B1;
  border: 1px solid #0275B1;
  color: white;
}

.fast-access button {
  border: solid 1px #0275B1;
  color: #0275B1;
  margin-bottom: 10px;
}


.language select {
  width: 270px;
  height: 32px;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding-left: 15px;
}

.language select:focus {
  border: solid 1px #0275B1;
  outline: none;
  cursor: pointer;
}

.container-main{
  background: #E5E5E5;
}

main {
  width: 1440px;
  margin: auto;
}

.profile-header {
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
  margin-top: 40px;
}

.profile-header > div:first-child {
  display: flex;
  position: absolute;
}

.profile-header > div:first-child > img {
  width: 850px;
  height: 180px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.info-profile-header {
  position: absolute;
  display: flex;
}

.info-profile-header > a:first-child {
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 20px;
  z-index: 1;
  cursor: pointer;
}

.info-profile-header > a:first-child > img {
  position: absolute;
  margin: 10px 10px;
}

.info-profile-header > div {
  display: flex;
  position: absolute;
  width: 132px;
  height: 36px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
  border-radius: 4px;
  margin-left: 642px;
  margin-top: 20px;
  z-index: 1;
  cursor: pointer;
}


.info-profile-header > div > a > img {
  position: absolute;
  margin: 10px 8px 10px 10px;
}

.info-profile-header > div > a:last-child > p {
  position: absolute;
  margin-left: 34px;
  margin-top: 12px;
  font-size: 12px;
  text-transform: uppercase;
  color: #181818;
}

.info-profile-header > a:last-child {
  position: absolute;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 784px;  
  z-index: 1;
  cursor: pointer;
}

.info-profile-header > a:last-child > img {
  position: absolute;
  margin: 6px;
}

.profile-header > img {
  position: absolute;
  width: 170px;
  height: 170px;
  margin-top: 160px;
  margin-left: 25px;
  z-index: 1;
  cursor: pointer;
}

.profile-header > div:last-child {
  position: absolute;
  display: flex;
}

.profile-header > div:last-child {
  position: absolute;
  display: flex;
}

.profile-header > div:last-child > div {
  display: flex;
}

.profile-header > div:last-child > div > div:first-child {
  display: flex;
  margin-top: 205px;
  margin-left: 220px;
  align-items: center;
}

.profile-header > div:last-child > div > div > h3 {
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: #181818;
}

.profile-header > div:last-child > div > div:first-child > img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.profile-header > div:last-child > div > div:last-child {
  display: flex;
  margin-top: 206px;
  margin-left: 189px;
  align-items: center;
}

.profile-header > div:last-child > div > div:last-child > img {
  width: 12.67px;
  height: 12.67px;
  margin-right: 9.33px;
}

.profile-header > div:last-child > div > div:last-child > small {
  width: 225px;
  font-size: 12px;
  color: #181818;
}

.profile-header > div:last-child > p {
  width: 583px;
  margin-top: 243px;
  margin-left: 220px;
  position: absolute;
  font-size: 14px;
}

.profile-header > div:last-child > div:last-child {
  position: absolute;
  margin-top: 293px;
  margin-left: 220px;
}

.profile-header > div:last-child > div:last-child > button {
  width: 170px;
  height: 32px;
  margin-right: 15px;
  background: #FFFFFF;
  border: 1px solid #0275B1;
  border-radius: 4px;
  font-size: 12px;
  color: #0275B1;
  text-transform: uppercase;
  font-weight: bold;
}

.profile-header > div:last-child > div:last-child > button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
  color: #FFFFFF;
}

.buttons-about > div:first-child {
  height: 50px;
}

.buttons-about > div:first-child button {
  position: absolute;
  width: 240px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  font-size: 12px;
  font-weight: bold;
  color: #181818;
  margin-top: 31px;
  text-transform: uppercase;
  cursor: pointer;
}

.buttons-about > div:first-child button:nth-child(2) {
  position: absolute;
  margin-left: 240px;
}

.buttons-about > div:first-child button:last-child {
  position: absolute;
  margin-left: 480px;
  border-radius: 0px 4px 0px 0px;
}

.buttons-about > div:first-child button:hover {
  position: absolute;
  margin-top: 21px;
  height: 50px;
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
  border-radius: 4px 4px 0px 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.buttons-about > div:nth-child(2) {
  height: 50px;
  width: 850px;
  background: linear-gradient(180deg, rgba(241, 244, 248, 0.8) 0%, rgba(241, 244, 248, 0) 100%);
  margin-top: 21px;
}

.buttons-about > div:last-child {
  width: 850px;
  height: 150px;
  background: #FFFFFF;
}

.buttons-about > div:last-child > h3 {
  padding-top: 10px;
  margin-left: 30px;
  font-size: 18px;
  color: #181818;
}

.buttons-about > div:last-child > p {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 14px;
  color: #181818;
}

.buttons-about > div:last-child > a > p {
  color: #0275B1;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 30px;
}

.projects {
  width: 850px;
  height: 355px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
  margin-top: 20px;
}

.projects > div:first-child {
  display: flex;
  margin-left: 30px;
  padding-top: 30px;
}

.projects > div:first-child > h3 {
  font-size: 18px;
  color: #181818
}

.projects > div:first-child > p {
  font-size: 18px;
  color: #747474;
  margin-left: 15px;
}

.projects-banners {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 30px;
  margin-top: 25px;
}

.projects-banners > div > a > p {
  color: #181818;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  height: 21px;
}

.projects-banners > div > small {
  color: #181818;
  font-size: 10px;
  margin-top: 5px;
  height: 15px;
}

.projects-banners > a {
  color: #0275B1;
  font-size: 12px;
  margin-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.skills {
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
  margin-top: 20px;
  width: 850px;
  height: 220px;
}

.skills > h3 {
  font-size: 18px;
  color: #181818;
  padding-top: 30px;
  margin-left: 30px;
}

.skills > div {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 30px;
  margin-top: 24px;
}

.skills > div > div {
  width: 250px;
  height: 80px;
  border: 1px solid #F4F4F4;
  border-radius: 6px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.skills > div > div > div {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.skills > div > div > div > p:first-child {
  color: #181818;
  font-size: 14px;
  height: 21px;
  font-weight: bold;
}

.skills > div > div > div > p:last-child {
  color: #0275B1;
  font-size: 14px;
  height: 21px;
  font-weight: bold;
}

.skills > div > div > img {
  margin-left: 20px;
  margin-top: 5px;
  width: 99px;
}

.skills > a > p {
  margin-top: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0275B1;
  margin-left: 30px;
}

.experience {
  width: 850px;
  height: 345px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
  margin-top: 20px;
}

.experience > h3 {
  font-size: 18px;
  color: #181818;
  padding-top: 30px;
  margin-left: 30px;
}

.experience  > div {
  display: flex;
  margin-left: 30px;
  margin-top: 25px;
}

.experience > div:last-child {
  margin-top: 45px;
}

.experience  > div > div > img {
  width: 54px;
  height: 54px;
  margin-top: 2px;
  margin-right: 16px;
}

.experience > div > div > p {
  height: 21px;
  font-size: 14px;
  color: #181818;
  font-weight: bold;
}

.experience > div > div > div {
  display: flex;
}

.experience > div > div > div > p:first-child {
  color: #181818;
  height: 15px;
  font-weight: bold;
  font-size: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.experience > div > div > div > p:last-child {
  color: #181818;
  height: 15px;
  font-size: 10px;
  margin-top: 10px;
}

.experience > div > div > div > small:first-child {
  color: #181818;
  height: 15px;
  font-size: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.experience > div > div > div > small:last-child {
  color: #0275B1;
  height: 15px;
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.experience > div > div > div:last-child > small{
  color: #181818;
  margin-top: 10px;
  font-weight: normal;
}