.container {
  max-width: 900px;
  width: 100vw;
  justify-content: left;
}

header {
  width: 100vw;
}

.search {
  visibility: hidden;
  height: 0;
  width: 0;
}

.profile > div > .name {
  visibility: hidden;
  width: 0;
  height: 0;
}

.profile > div > .views {
  visibility: hidden;
  width: 0;
  height: 0;
}

header nav ul li {
  width: 40px;
}


header nav ul li a {
  font-size: 9px;
}

.orange-circle-message {
  margin-right: 3px;
}

.profile {
  width: 60px;
}

.profile > a > img {
  margin-left: 10px;
  margin-right: 10px;
}

.other {
  width: 40px;
}

.other p {
  font-size: 9px;
}

aside {
  visibility: hidden;
  width: 0;
  height: 0;
}

main {
  max-width: 100vw;
}

.profile-header {
  width: 100vw;
}

.profile-header > img {
  width: 100px;
}

.profile-header > div:first-child {
  width: 100vw;
}

.profile-header > div:first-child > img {
  width: 100vw;
  height: 100%;
}

.info-profile-header {
  visibility: hidden;
  width: 0;
}

